{% extends 'base.html.twig' %}

{% block title %}Главная{% endblock %}

{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Каталог книг</h1>
            <p class="lead text-muted">
                Каталог позволяет просматривать, добавлять, редактировать и удалять книги с авторами.
            </p>
            <p class="lead text-muted">
                Чтобы загрузить заготовленный набор книг и авторов воспользуйтесь
                <a target="_blank" href="https://symfony.com/doc/master/bundles/DoctrineFixturesBundle/index.html">DoctrineFixturesBundle</a>.
            </p>
            <code>php bin/console doctrine:fixtures:load</code>
            <p class="lead text-muted mt-5">
                Или создайте их самостоятельно.
            </p>
            <p>
                <a href="{{ path('books_new') }}" class="btn btn-primary">Добавить книгу</a>
                <a href="{{ path('authors_new') }}" class="btn btn-secondary">Добавить автора</a>
            </p>
        </div>
    </section>
{% endblock %}
