<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted">
            &copy; {{ "now" | date('Y') }}
            <a target="_blank" href="https://spb.hh.ru/resume/6118d0a0ff05afe9560039ed1f6b3970377234">Titov Sergey</a>
        </span>
    </div>
</footer>
