{% extends 'base.html.twig' %}

{% block title %}Добавление книги{% endblock %}

{% block body %}
    <div class="container">
        <div class="page-header">Добавление книги</div>

        {{ form(form) }}
    </div>
{% endblock %}
