{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.authors.title_edit' | trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="page-header">{{ 'pages.authors.title_edit' | trans }}</div>

        {% for message in app.flashes('notice') %}
            <div class="alert alert-success">
                <i class="fas fa-check-circle"></i>
                {{ message }}
            </div>
        {% endfor %}

        {{ form(form) }}
    </div>
{% endblock %}
