{% extends 'base.html.twig' %}

{% block title %}Добавление автора{% endblock %}

{% block body %}
    <div class="container">
        <div class="page-header">Добавление автора</div>

        {{ form(form) }}
    </div>
{% endblock %}
