{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.authors.title_add' | trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="page-header">{{ 'pages.authors.title_add' | trans }}</div>

        {{ form(form) }}
    </div>
{% endblock %}
